@font-face {
  font-family: 'AmoebaSans-Thin';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-ThinItalic';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-ThinItalic.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-Light';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-Light.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-LightItalic';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-Regular';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-RegularItalic';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-SemiBold';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-SemiBoldItalic';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-SemiBoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-Bold';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaSans-Black';
  src: url('~/public/assets/fonts/amoeba-sans/AmoebaSans-Black.otf') format('opentype');
}
