@font-face {
  font-family: 'AmoebaGrotesk-Light';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-Light.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaGrotesk-LightItalic';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaGrotesk-Regular';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaGrotesk-RegularItalic';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaGrotesk-SemiBold';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'AmoebaGrotesk-SemiBoldItalic';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-SemiBoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaGrotesk-Bold';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaGrotesk-BoldItalic';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaGrotesk-Black';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-Black.otf') format('opentype');
}
@font-face {
  font-family: 'AmoebaGrotesk-BlackItalic';
  src: url('~/public/assets/fonts/amoeba-grotesk/AmoebaGrotesk-BlackItalic.otf') format('opentype');
}
