@font-face {
  font-family: 'Brandon-Thin';
  src: url('~/public/assets/fonts/brandon/Brandon-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon-Light';
  src: url('~/public/assets/fonts/brandon/Brandon-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon-Regular';
  src: url('~/public/assets/fonts/brandon/Brandon-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon-SemiBold';
  src: url('~/public/assets/fonts/brandon/Brandon-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon-Bold';
  src: url('~/public/assets/fonts/brandon/Brandon-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon-Black';
  src: url('~/public/assets/fonts/brandon/Brandon-Black.otf') format('opentype');
}
