@font-face {
  font-family: "Fredoka-Light";
  src: url("~/public/assets/fonts/fredoka/Fredoka-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Fredoka-Regular";
  src: url("~/public/assets/fonts/fredoka/Fredoka-Regular.ttf")
    format("opentype");
}
@font-face {
  font-family: "Fredoka-Medium";
  src: url("~/public/assets/fonts/fredoka/Fredoka-Medium.ttf")
    format("opentype");
}
@font-face {
  font-family: "Fredoka-SemiBold";
  src: url("~/public/assets/fonts/fredoka/Fredoka-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Fredoka-Bold";
  src: url("~/public/assets/fonts/fredoka/Fredoka-Bold.ttf") format("opentype");
}
