@font-face {
  font-family: "Poppins-Regular";
  src: url("~/public/assets/fonts/poppins/Poppins-Regular.ttf")
    format("opentype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("~/public/assets/fonts/poppins/Poppins-Medium.ttf")
    format("opentype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("~/public/assets/fonts/poppins/Poppins-SemiBold.ttf")
    format("opentype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("~/public/assets/fonts/poppins/Poppins-Bold.ttf") format("opentype");
}
