.x-input-component {
  width: 100%;
  .x-label {
    padding-bottom: 0.25rem;
  }
  .x-input {
    padding: 0.625rem 0.875rem;
    &::placeholder {
      color: var(--pr-200);
    }
  }
  .x-pe {
      &-1 {
        padding-right: 2rem;
      }
      &-2 {
        padding-right: 3rem;
      }
      &-3 {
        padding-right: 4.3rem;
      }
    }
  .x-ps {
    &-1 {
      padding-left: 2.3rem;
    }
  }
  .x-error-hint {
    padding-top: 0.25rem;
  }
}
