.x-hero-section {
  background: linear-gradient(180deg, #4af4ff 0%, rgba(217, 217, 217, 0) 100%);
  position: relative;
  .x-content {
    padding-top: 7rem;
    .x-header-text {
      letter-spacing: 1rem;
    }
  }
}

/* Mobile breakpoint (up to 600px) */
@media screen and (max-width: 600px) {
  .x-content {
    padding-left: 0;
    padding-right: 0;
  }
  .x-header-text {
    font-size: xx-large;
    width: 100%;
  }
  .x-description-text {
    font-size: 20px;
  }
  .x-skillset {
    width: 100%;
    height: 100%;
  }
  .x-skillset-container {
    width: 100%;
  }
  .x-bulb {
    width: 80px;
    height: 80px;
  }
  .x-bulb-text {
    font-size: 15px;
  }
  .x-absolute-content {
    display: none;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-90%, -90%);
    .x-bulb-text {
      transform: rotate(-18.087deg);
    }
  }
}

/* Tablet breakpoint (601px to 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .x-content {
    padding-left: 0;
    padding-right: 0;
  }
  .x-header-text {
    font-size: 70px;
    line-height: 70px;
  }
  .x-description-text {
    font-size: 25px;
  }
  .x-skillset {
    width: 60px;
    height: 60px;
  }
  .x-bulb {
    width: 80px;
    height: 80px;
  }
  .x-bulb-text {
    font-size: 20px;
  }
  .x-absolute-content {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-90%, -90%);
    .x-bulb-text {
      transform: rotate(-18.087deg);
    }
  }
}

/* Desktop breakpoint (901px and above) */
@media screen and (min-width: 901px) {
  .x-content {
    padding-left: 150px;
    padding-right: 150px;
  }
  .x-header-text {
    font-size: 100px;
    line-height: 100px;
  }
  .x-description-text {
    font-size: 25px;
  }
  .x-bulb-text {
    font-size: 20px;
  }
  .x-absolute-content {
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-85%, -90%);
    .x-bulb-text {
      transform: rotate(-18.087deg);
    }
  }
}
