.x-workexp-section {
  background: linear-gradient(180deg, #011a24 45.2%, #00618a 81.61%);
  .x-workexp-content {
    color: var(--pr-00);
    padding-top: 6rem;
    .x-telkom {
      width: 100%;
      padding: 1rem 2rem;
      background: linear-gradient(
            138deg,
            rgba(74, 255, 240, 0.57) 0%,
            #004360 61.74%
          )
          padding-box,
        linear-gradient(to right, rgb(0, 222, 230), rgb(0, 147, 142)) border-box;
      border-radius: 20px;
      border: 6px solid transparent;
    }
    .x-position {
      padding: 0.3rem 1rem;
      background-color: var(--palette-2);
      border-radius: 20px;
    }
  }
}

/* Mobile breakpoint (up to 600px) */
@media screen and (max-width: 600px) {
  .x-workexp-content {
    padding-left: 0;
    padding-right: 0;
  }
  .x-header-text-exp {
    font-size: 40px;
  }
  .x-telkomsel-logo {
    width: 100px;
    height: 30px;
  }
  .x-text-telkomsel {
    font-size: 20px;
  }
  .x-products-container {
    display: block;
  }
}

/* Tablet breakpoint (601px to 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .x-workexp-content {
    padding-left: 0;
    padding-right: 0;
  }
  .x-header-text-exp {
    font-size: 50px;
  }
  .x-telkomsel-logo {
    width: 100px;
    height: 30px;
  }
  .x-text-telkomsel {
    font-size: 25px;
  }
  .x-header-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .x-products-container {
    display: flex;
  }
}

/* Desktop breakpoint (901px and above) */
@media screen and (min-width: 901px) {
  .x-workexp-content {
    padding-left: 150px;
    padding-right: 150px;
  }
  .x-header-text-exp {
    font-size: 50px;
  }
  .x-text-telkomsel {
    font-size: 25px;
  }
  .x-header-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .x-products-container {
    display: flex;
  }
}